{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "env",
    "react",
    "flow"
  ],
  "plugins": [
    ["styled-components", {
      "displayName": true
    }]
  ]
}